<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/76c4ea33-2631-4b99-b414-646238552e0f/resourceGroups/rg1/providers/Microsoft.Web/sites/SaleAppApi-Demo</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://saleappapi-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>137d480a-5c64-46b8-9ae6-83616309fefb</ProjectGuid>
    <PublishUrl>https://saleappapi-demo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SaleAppApi-Demo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>